*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*background-image: url(IMAGENES/gif2.gif);*/
    background-color: rgb(243, 243, 223);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    opacity: 2;
}
/*================================================================*/
/*================================================================*/
.contenido1{
    width: 100%;
    height: 350px;
    background-color: rgb(152, 240, 28);
    background-size: 100% 100%;
    animation: fotos2 20s infinite;
  }
  /*CAMBIA DE LADO A LA IMAGEN*/
  .imagen1:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  }
  @keyframes fotos2 {
    0%{background-image: url(IMAGENES/BANNER1.jpg);}
    17%{background-image: url(IMAGENES/BANNER2.jpg);}
    35%{background-image: url(IMAGENES/BANNER3.jpg);}
    50%{background-image: url(IMAGENES/BANNER4.jpg);}
    67%{background-image: url(IMAGENES/BANNER5.jpg);}
    84%{background-image: url(IMAGENES/BANNER6.jpg);}
    100%{background-image: url(IMAGENES/BANNER1.jpg);}
    
  }
  .contenido1 P{
      font-size: 110px;
      color: white;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      order-width: 5px;
      border-style: solid;
      border-color: black; 
  
  }
/*================================================================*/
/*================================================================*/
.contenido2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    gap: 0px;
    background-color: rgb(19, 18, 18);
}
.boton{
    width: 100%;
    height: 100%;
    background-color: black;
}
/* MENU DE BOTONES*/
.menu {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
  
  /* Bordes superiores */
  
  .menu.servicios {
    border-top: #ffc000 0.3em solid;
  }
  
  .menu.recursos {
    border-top: #b81800 0.3em solid;
  }
  
  .menu.proyectos {
    border-top: #00a53c 0.3em solid;
  }
  
  .menu.contacto {
    border-top: #9600b4 0.3em solid;
  }
  
  .menu > span {
    display: block;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    
  }
  
  .menu:after, .menu > span > span {
    display: block;
    text-align: center;
    border-radius: 0em;
    padding: 2em 0 1.5em;
  }
  
  .menu:after {
    content: attr(data-title);
    width: 100%;
    width: 100%;
    background: #000;
    color: #fff; 
  }
  
  .menu > span > span {
    width: 95%;
    color: #fff;
    bottom: 0px;
    font-size: 17px;
  }
  
  .menu.servicios > span > span {
    background: #ffc000;
  }
  
  .menu.proyectos > span > span {
    background: #00a53c;
  }
  
  .menu.recursos > span > span {
    background: #b81800;
  }
  
  .menu.contacto > span > span {
      background: #9600b4;
      align-content: center;
      text-align: center;
  }
  
  .menu:hover > span {
      height: 100%; 
      align-content: center;
      text-align: center;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li a {
    display: inline;
    float: left;
    text-decoration: none;
    font-family: sans;
    
  }
/*================================================================*/
/*================================================================*/
.contenido3{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    gap: 10px;
    
}
.contenedor{
    width: 80%;
    height: 100%;
    padding: 5px;
    margin: 10px;
    background-color: chocolate;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
}
.formulario{
    width: 64%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.forma0{
    
    width: 100%;
    height: 18%;
    background-color: rgb(255, 255, 255);
}
.forma0 h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}
.forma0 p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: chocolate;
}
.forma1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
    background-color: rgb(255, 255, 255);
}
.forma2{
    width: 100%;
    height: 52%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    bottom: 56px;
}
.formu{
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
}
.division2{
    margin-bottom: 15px;

}
.division2 label{
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: justify;
    position: relative;
}
.division2 select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    position: relative;
}

.input-group{
    margin-bottom: 15px;
   
}

.input-group label{
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: justify;
}

.input-group input{
    width: 100%;
    height: 4%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
/*222222222222222222222222222222222222222222222222222222222222222222222*/

.input-group1{
    margin-bottom: 15px;
    
}

.input-group1 label{
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: justify;
}

.input-group1 input{
    width: 100%;
    height: 90px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
}
.enviar{
    width: 80px;
    padding: 10px;
    background-color: #0577fa;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
    text-align: center;
}
.boton1{
    height: 53px;
    text-align: center;
    position: relative;
    bottom: 5px;
}
.enviar:hover{
    background-color: #0905fa;
}
.form{
    width: 36%;
    height: 100%;
    padding: 10px;
}
.contenido{
    width: 80%;
    height: 100%;
    background-image: url(IMAGENES/000.avif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 12px;
}
.contenido p{
    font-size: 18px;
    font-style: inherit;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 7px;
    text-align: center;
}
.contenido h2{
    font-size: 30px;
    font-style: inherit;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(250, 204, 118);
    padding: 7px;
    text-align: center;
}
.contenido h3{
    font-size: 23px;
    font-style: inherit;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(250, 204, 118);
    padding: 8px;
    text-align: center;
}
.ima0{
    width: 80px;
    padding: 5px;
 
}
.ima0:hover{
    width: 90px;
    padding: 5px;
 
}
/*================================================================*/
/*================================================================*/
.contenido4{
    width: 100%;
    height: 70px;
    padding: 15px;
    left:  50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.letra{
    width: 95%;
    height: 100%;
   
}
.letra h2{
    padding: 5px;
    height: 100%;
    text-align: justify;
    animation: identifier 5s infinite linear;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    color: rgb(0, 0, 0);
}
@keyframes identifier {
    80% {
        margin-left: 20%;
      }
}
/*================================================================*/
/*================================================================*/
.contenido5{
    width: 100%;
    height: 400px;
    align-content: center;
    text-align: center;
}
.dirccion{
    width: 80%;
    height: 95%;
    padding: 5px;
    margin: 10px;
}
/*================================================================*/
/*================================================================*/
.contenido6{
    width: 100%;
    height: 330px;
    background-color: rgb(38, 63, 92);
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.foot{
    width: 100%;
    height: 100%;
    padding: 45px;
    text-align: justify;
  
}
.foot p{
    padding: 8px;
    color: white;
    
}
.foot h3{
    padding: 8px;
    color: white;
    
}




/*555555555555555555555555555555555555555555555*/
input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border 0.3s ease;
    }
    input:focus, textarea:focus, select:focus {
    border-color:#ce07d4;
    }
    /*************************************************************/
    .boton3{
        width: 80%;
        height: 40%;
        background-color: rgb(68, 249, 255);
     }
     .enviar3{
        width: 100%;
        height: 40%;
        background-color: rgb(68, 249, 255);
     }
     .enviar3 .btn-menu{
        background-color: rgb(68, 249, 255);
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        text-decoration: none;
        color: black;
     }