*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/*================================================================*/
.contenido1{
    width: 100%;
    height: 350px;
    background-color: rgb(152, 240, 28);
    background-size: 100% 100%;
    animation: fotos2 20s infinite;
  }
  /*CAMBIA DE LADO A LA IMAGEN*/
  .imagen1:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  }
  @keyframes fotos2 {
    0%{background-image: url(IMAGENES/BANNER1.jpg);}
    17%{background-image: url(IMAGENES/BANNER2.jpg);}
    35%{background-image: url(IMAGENES/BANNER3.jpg);}
    50%{background-image: url(IMAGENES/BANNER4.jpg);}
    67%{background-image: url(IMAGENES/BANNER5.jpg);}
    84%{background-image: url(IMAGENES/BANNER6.jpg);}
    100%{background-image: url(IMAGENES/BANNER1.jpg);}
    
  }
  .contenido1 P{
      font-size: 110px;
      color: white;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      order-width: 5px;
      border-style: solid;
      border-color: black; 
  
  }
/*================================================================*/
.contenido2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    gap: 0px;
    background-color: rgb(19, 18, 18);
}
.boton{
    width: 100%;
    height: 100%;
    background-color: black;
}
/* MENU DE BOTONES*/
.menu {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
  
  /* Bordes superiores */
  
  .menu.servicios {
    border-top: #ffc000 0.3em solid;
  }
  
  .menu.recursos {
    border-top: #b81800 0.3em solid;
  }
  
  .menu.proyectos {
    border-top: #00a53c 0.3em solid;
  }
  
  .menu.contacto {
    border-top: #9600b4 0.3em solid;
  }
  
  .menu > span {
    display: block;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    
  }
  
  .menu:after, .menu > span > span {
    display: block;
    text-align: center;
    border-radius: 0em;
    padding: 2em 0 1.5em;
  }
  
  .menu:after {
    content: attr(data-title);
    width: 100%;
    width: 100%;
    background: #000;
    color: #fff; 
  }
  
  .menu > span > span {
    width: 95%;
    color: #fff;
    bottom: 0px;
    font-size: 17px;
  }
  
  .menu.servicios > span > span {
    background: #ffc000;
  }
  
  .menu.proyectos > span > span {
    background: #00a53c;
  }
  
  .menu.recursos > span > span {
    background: #b81800;
  }
  
  .menu.contacto > span > span {
      background: #9600b4;
      align-content: center;
      text-align: center;
  }
  
  .menu:hover > span {
      height: 100%; 
      align-content: center;
      text-align: center;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li a {
    display: inline;
    float: left;
    text-decoration: none;
    font-family: sans;
    
  }
/*================================================================*/
.contenido3{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 750px;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
/************************************************************/
.menu1{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    gap: 15px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
}
.bott a{
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: initial;
}
.bott a:hover{
    color: rgb(255, 255, 255);
    font-size: 37px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
    font-style: italic;
}
.bott{
    width: 100%;
    height: 50%;
    background-color: rgb(187, 84, 255);
    border-radius: 50px;
    animation: fotos 30s infinite linear;
    text-align: center;
    align-content: center;
}
.bott {
    
    animation: fotos 30s infinite;
}
.bott:hover{
    background-color: #000;
    color: rgb(255, 255, 255);
    font-size: 38px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.bott1 a{
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
.bott a{
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.bott1 a{
    color: rgb(252, 255, 90);
    font-size: 38px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: initial;
    font-style: italic;
}
.bott1 a:hover{
    color: rgb(252, 255, 90);
    font-size: 38px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bott1{
    width: 100%;
    height: 50%;
    background-color: rgb(8, 8, 8);
    border-radius: 50px;
    text-align: center;
    align-content: center;

    border-width: 5px;
    border-style: solid;
    border-color: rgb(206, 202, 202);
}
.bott:hover {filter: grayscale(100%);}

@keyframes fotos {
    0%{background-image: url(IMAGENES/sopa.gif);}
    20%{background-image: url(IMAGENES/sopa.gif);}
    40%{background-image: url(IMAGENES/sopa.gif);}
    60%{background-image: url(IMAGENES/sopa.gif);}
    80%{background-image: url(IMAGENES/sopa.gif);}
    100%{background-image: url(IMAGENES/sopa.gif);}
}

/************************************************************/
.ima001{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.ima001:hover{
    width: 100%;
    height: 100%;
    border-radius: 150px;

    border-width: 1px;
    border-style: solid;
    border-color: black;
    transform: scale(1.2);
}
.menu2{
    display: flex;
    flex-direction: column;
    width: 72%;
    height: 100%;
    gap: 10px;
}
.comida1{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
.comida2{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
.pedido1{
    width: 100%;
    height: 80%;
    background-color: rgb(250, 252, 250);
    display: flex;
    flex-direction: row;
    gap: 20px;
   
}
.pedido2{
    width: 100%;
    height: 20%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    gap: 20px;
   
}

.alimento{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 197, 252);
    border-radius: 10px;
    border: 10px;
    border-color: black;
}
.precio{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(24, 23, 23);
  padding: 3px;
  gap: 3px;
}
.precio .pre p{
font-family: Georgia, 'Times New Roman', Times, serif;
color: white;
font-size: 20px;
text-align: center;
}
.pre{
  width: 70%;
  height: 100%;
  
  align-content: center;
  background-color: rgba(247, 29, 182, 0.87);
}
.boton1{
  width: 30%;
  height: 100%;
  background-color: rgb(19, 18, 18);
  text-align: center;
}
.boton1:hover{
  width: 30%;
  height: 100%;
  
}
.enviar{
  width: 100%;
  height: 100%;
  padding: 5px;
  background-color: rgba(247, 29, 182, 0.87);
  color: white;
  border: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 19px;
  cursor: pointer;
  margin-bottom: 15px;
  text-align: center;
}
.enviar:hover{
    background-color: plum;
}
/*================================================================*/
.contenido4{
    width: 100%;
    height: 330px;
    background-color: rgb(38, 63, 92);
    display: flex;
    flex-direction: row;
    gap: 10px;
    opacity: 1;
}
.foot{
    width: 100%;
    height: 100%;
    padding: 45px;
  
}
.foot p{
    padding: 8px;
    color: white;
    
}
.foot h3{
    padding: 8px;
    color: white;
    
}

